
body{
    background-image:url(netflix.jpg);
    background-size: cover; 
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xxx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(238, 7, 7);
    border: black ;
    padding: 0px;
    width: 80%;
    margin-top: 0px;
    margin-left: 10%;
}

.nav-content{
    width: 25%;
    margin-top: 25px;
}

.nav-button{
    background-color: red;
    color:white;
    border-color: black;
    border-radius:4px;
    padding: 4px;
    margin: 4px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: b margin: auto;
}

.nav-content, .nav-content2{
   margin-left: 4px;
}

#main-content{
    text-align: center;
    margin:auto;
    margin-top: 200px;
    color: white;
    font-size: xx-large;
    line-height: 15px;
    
}
